.navbar{
    background-color:@navbarBackground;
        .container{
            .navWidth-large-desktop;

            .icon-smartfrog-logo{
                .brandlogo(235px; 44px);
            }

            .icon-shell-logo-pic{
                .brandlogo(170px; 86px);
                float: left;
            }

    }

}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}
