.static-overlay-wrap {
    position: relative;
    top: -100%;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;

    .headline-inner-wrap {
        max-width: 1175px;
        width: 1170px;
        .sf-padding(0px, 0px, 0px, 0px);
        .center-block();
        .headline-wrap {
            position: absolute;
            top: 50px;
            left: 100px;
            background-color: @sf-transparent-white;
            .border-top-radius(7px);
            .border-bottom-radius(7px);
            .sf-padding(14px, 25px, 20px, 25px);
            width: 585px;
            height: 147px;
        }
    }
    /* handy */
    .hand-wrap-container {
        position: absolute;
        top: 200px;
        left: 0px;
        .hand-wrap {
            position: absolute;
            width: 388px;
            height: 329px;
            background-image: @handy-sf-image;
            .sf-background(no-repeat, initial, initial, initial, initial, initial, initial, contain);
            z-index: @hand-wrap-zindex;
        }
        .screen {
            position: absolute;
            top: 77px;
            left: 62px;
            width: 258px;
            height: 161px;
            overflow-y: hidden;
            overflow-x: hidden;
            z-index: @screen-zindex;
            .item {
                background-image: @screen-item-sf-image;
                .sf-background(no-repeat, initial, initial, initial, initial, initial, initial, cover);
                position: absolute;
                top: 0px;
                left: 0px;
                width: 273px;
                height: 166px;
            }
        }
    }

    /*app*/

    .app{
        position: absolute;
        bottom: -15px;
        left: 80px;

        .app-feature{
                display:inline-block;


        }
    }

    .cam-registerForm-wrap {
        position: absolute;
        bottom: 0px;
        left: auto;
        right: 520px;
        width: calc(225px + 242px);
        height: calc(280px + 80px);
        /* camera */
        .cam-wrap {
            position: absolute;
            bottom: 1.5px;
            left: 0;
            right: auto;
            z-index: @cam-wrap-zindex;
            .hw-cam {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 225px;
                height: 280px;
                background-image: @cam-sf-image;
                .sf-background(no-repeat, initial, initial, initial, initial, initial, initial, contain);
            }
        }
        .registerFormWrap {
            position: absolute;
            right: 45px;
            top: 10px;
            width: 250px;
            z-index: 1;

            .round-element {
                margin-bottom: initial;
                .sf-border-bottom(none;initial;initial);

                .inner-wrap {
                    .sf-margin(initial, initial, initial, initial);
                    .round_bg {
                        .border-top-radius(100%);
                        .border-bottom-radius(100%);
                        .sf-background(initial, initial, initial, initial, initial, initial, initial, initial);
                        background-color: @sf-deep-red;
                        .sf-padding(20px, 20px, 20px, 20px);
                        width: 220px;
                        height: 220px;

                        .round-inner-wrap{
                            width: 150px;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
    /* Strombox */
    .strom-box {
        position: absolute;
        width: @panel-width;
        top: 50px;
        right: 100px;

        .strom-box-panel-body {
            background-color: @sf-yellow;
        }

        .panel-img-row {
            height: @panel-height;
            padding-top: 25px;
            margin-bottom: 30px;
            .panel-col {
                .strom-box-item {
                    vertical-align: middle;
                }
                .strom-box-image {
                    background-image: @box-sf-image;
                    .sf-background(no-repeat, initial, initial, initial, initial, initial, initial, contain);
                    height: 140px;
                    width: 130px;
                    display: inline-block;
                    margin-right: 10px;
                    margin-top: 15px;
                }
            }
        }

        .strom-box-footer{
            padding-bottom: 25px;

        .strom-box-footer-feature {
            .strom-box-footer-textbox {
                i {
                    float: left;
                    padding-top: 10px;
                    color: @sf-deep-red;

                }

            }
            .strom-box-footer-panel{
                width: 300px;
                text-align: left;
                float: right;
                background-color: transparent;
                margin-bottom: 0;


            }
        }
    }
    }

    .jumbotron-background{
        height: 640px;
        width: 100%;
        display: block;
        position: relative;
        &:after{
            content: " ";
            opacity: 0.6;
        height: 640px;
        width: 100%;
        background-image: @jumbotron-bg-image;
        .sf-background(no-repeat, initial, initial, initial, initial, initial, initial, cover);
            position: absolute;
            z-index: -1;
        }

    }
}



