/*@googlefonts*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* Icon Font setup in project */

body {
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  line-height: 26px;
}

/*Headline */
.headline-wrap{

  h3{
    font-size: 49.4px;
    margin: 0;
    color: @sf-orange;
    font-weight: 500;
    line-height: 60px;
  }
}

/*registerFormWrap */
.registerFormWrap {
  text-align: center;

  .round_inner_wrap {
    position: relative;
    color: @sf-white;
    font-size: 18px;
    line-height: 1.7;

    h2{
    font-weight: 600;
    }

    .icon-checkmark {
      color: @sf-white;
      font-size: 13px;
      left: -2px;
      position: relative;
      font-weight: bold;
      top: -2px;


    }
    span {
      font-weight: 500;
      left: 4px;
      position: relative;
      display: inline-block;
      left: 6px;
    }
  }
}


/* checkmark */

@font-face {
  font-family: 'fontello';
  src: url('../../../docs/vendors/fontello-12f48889/font/fontello.eot?1253447');
  src: url('../../../docs/vendors/fontello-12f48889/font/fontello.eot?1253447#iefix') format('embedded-opentype'), url('../../../docs/vendors/fontello-12f48889/font/fontello.woff2?1253447') format('woff2'), url('../../../docs/vendors/fontello-12f48889/font/fontello.woff?1253447') format('woff'), url('../../../docs/vendors/fontello-12f48889/font/fontello.ttf?1253447') format('truetype'), url('../../../docs/vendors/fontello-12f48889/font/fontello.svg?1253447#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'fontello';
src: url('../font/fontello.svg?1253447#fontello') format('svg');
}
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-checkmark:before {
  content: '\e800';
}


/* '' */
