
.foggy{
opacity: 0.6;
    z-index: -1;
}
@cam-sf-image: url(../../../docs/assets/img/cam-1x.png);
@handy-sf-image: url(../../../docs/assets/img/Phone-1x.png);
@screen-item-sf-image: url(../../../docs/assets/img/screen-item-1x.jpg);
@box-sf-image: url(../../../docs/assets/img/box-1x.png);
@jumbotron-bg-image: url(../../../docs/assets/img/wohnzimmer-1x.jpg);
@shell-logo-image: url(../../../docs/assets/brand/shell/logo/shell-logo-pic-01.svg);




