
/* Size and Align Logos */

.brandlogo(@iconwidth; @iconheight){
   width: @iconwidth;
   height: @iconheight;
   .navbar-vertical-align(@iconheight);
}

.navWidth-large-desktop(){
   padding-right: 0;
   width: ((@mainWrapWidth-desktop - @container-large-desktop)/2)+@container-large-desktop;

}

.panel-vertical-align(@icon-height) {
   margin-top: ((@panel-height - @icon-height) / 2);
   margin-bottom: ((@panel-height - @icon-height) / 2);
}
